body {
    background-color: rgb(131, 120, 103);
}

#h1pv {
    text-align: center;
    font-size: 100px;
    padding: 15px;
    border: 7px solid rgb(43, 1, 60);
    margin: 0px;
    color: rgb(103, 4, 145);
}

#ps {
    text-align: center;
    font-size: 30px;
}

.espaco2 {
    padding: 25px;
}

.subts {
    font-size: larger;
    color: rgb(0, 0, 0);
}

/*
 <picture>
        <source media="(min-width:500px)" srcset="image/Catasters_ Photo.jpg" alt="um gato, levemente esticado, deitado no corrimão de uma escada">
        <img src="image/perto.png" alt="muito perto" style="height:450px;width:300px;margin:70px;margin-bottom:1%;">
    </picture>