#h1sp {
    text-align: center;
    font-size: 100px;
    padding: 15px;
    border: 7px solid rgb(76, 34, 3);
    margin: 0px;
    color: rgb(118, 54, 5);
}

.subts {
    font-size: larger;
    color: rgb(0, 0, 0);
}

#ps {
    text-align:center;
    font-size: 30px;
}

.espaco2 {
    padding: 25px;
}

body {
    background-color: rgb(170, 118, 51);
}